body{
   background-color: #E5E5E5;
}
.profile{
  height: auto;
}
.profile-container {
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.profile-info {
  margin-top: 20px;
}

.profile-info p {
  margin-bottom: 10px;
}

.profile-info p strong {
  margin-right: 5px;
}

.imageProfile {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.background {
  height: 60vh;
  background-color: #2942A5;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}

.information_freelancer {
  margin-top: 120px;
  gap: 30px;
  display: flex;
  flex-direction: column;
}

.information_freelancer .info {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  height: max-content;
}



.information_freelancer .info_one {
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 20px;
  min-width: 70%;
  height: auto;
}


@media (max-width:772px) {
  .information_freelancer .info {
    display: flex;
    flex-direction: column;
  }
  .information_freelancer .info_one .image_freelancer{
 
    flex-direction: column;
    align-items: center;
  }
  
}


.information_freelancer .info_one .image_freelancer{
  width: 100%;
  display: flex;
  gap: 20px;

}
.information_freelancer .info_one .image_freelancer .image{
  width: 350px;
  min-width: 250px;
  height: max-content;

 
}
.information_freelancer .info_one .image_freelancer .image img{
 width: 100%;
 height: auto;
 border-radius: 10px;

}

@media (max-width:440px) {
  .information_freelancer .info_one {
    padding: 5px;
  }
  .information_freelancer .info_one .image_freelancer{
    padding: 0;
    flex-direction: column;
    align-items: center;
  }
  .information_freelancer .info_one .image_freelancer .image{ 
   width: 100%;
  }
  .information_freelancer .info_one .image_freelancer .image img{ 
    
    padding: 0;
  }
  
}

.information_freelancer .info_two {
  background-color: #FFFFFF;
  border-radius: 10px;
  width: 30%;
  height: max-content;
  
}

@media (max-width:1000px) {
  .information_freelancer .info {
    display: flex;
    flex-direction: column;
  }
  .information_freelancer .info_two,
  .information_freelancer .info_one{
    width: 100%;
  }
  
}
.information_freelancer .info_two .title{
  border-bottom: 2px solid #E5E5E5;
  padding: 10px 20px ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.modiferProfile,
.uplod ,
.information_freelancer .info_two .title button{
  background-color: transparent;
  color: #FF4C4A;
  border: 2px solid #FF4C4A;
  padding: 0 15px;
  border-radius: 50px;
  font-size: 12px;
  font-weight: bold;
  
}
.modiferProfile{
position:absolute;
top: 10px;
right: 10px;
}
.contact{
  margin-top:10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.profile i{
color: #FF4C4A;
margin-right: 10px;
}

.skills{
  padding: 20px;
}
.skills_item{
  display: flex;
  justify-content: space-between;
}

.skills_item button{
  background-color: transparent;
}
.peix_houres{
  display: flex;
  gap: 20px;
}

/* .description_user{
  width: 600px;
  overflow: hidden;
  height: 20vh;
}

p{
  overflow: hidden;
  text-overflow:ellipsis;
  height: 20px;
} */
.description{
  position: relative;
  width: 100%;
}
.modiferProfile{
  position: absolute;
  right: 0;
}

@media (max-width:440px) {
 
  .description h4{
    font-size: 16px;
  }

  .description p {
    font-size: 14px;
  }

  .description strong{
    font-size: 14px;
  }
}

img{
  cursor: pointer;
}

.uplodForm{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.uplodForm button{
  width: 150px;
  padding: 0;
}

.uplodForm label{
  cursor: pointer;
  color: #FF4C4A;
  padding: 10px;
  border: 1px solid #FF4C4A;
  border-radius: 10px;

}

.commaintear{
  background-color: #FFFFFF;
  height: auto;
  width: 100%;
  border-radius: 5px;
}
.commaintear .list_cart{
  padding: 20px;
  display: flex;
  gap: 20px;
  overflow: hidden;
  flex-wrap: wrap;
}
@media (max-width:440px) {
 
  .commaintear .list_cart{
    padding: 5px;
    padding-top: 20px;
  }
}

.portfolio{
  position: relative;
}

.ajouter_project{
  position: absolute;
  top: 10px ;
  right: 30px;
  background-color: transparent;
  color: #FF4C4A;
  border: 2px solid #FF4C4A;
  padding: 0 15px;
  border-radius: 50px;
  font-size: 12px;
  font-weight: bold;
}

.list_cart_project{
  display: grid;
  grid-template-columns: repeat(auto-fill , minmax(300px,1fr));
  gap: 20px;
  padding: 20px;
}

@media (max-width:440px) {

  .list_cart_project{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(200px,1fr));
    gap: 20px;
    padding: 5px;
  }
}

.list_education{
}